<h1>ユーザー登録</h1>

<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "エラー") %>があります:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>
