<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to "AnimeWatchList", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" ...></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "マイページ (#{current_user.name})",
                        edit_user_path(current_user),
                        class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path,
                        data: { turbo_method: :delete,
                                turbo_confirm: "本当にログアウトしますか？" },
                        class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "サインアップ", signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

